[Desktop Entry]
Name[ar]=مدير الامتداد
Name[ca]=Gestor d'extensions
Name[cs]=Správce rozšíření
Name[da]=Udvidelsesadministrering
Name[de]=Erweiterungs-Manager
Name[el]=Διαχειριστής Επεκτάσεων
Name[es]=Gestor de extensiones
Name[et]=Laiendushaldur
Name[fa]=مدیر افزونه‌ها
Name[fr]=Gestionnaire d’extensions
Name[hr]=Upravitelj proširenja
Name[hu]=Kiterjesztés-kezelő
Name[id_ID]=Pengelola Ekstensi
Name[it]=Gestore di estensioni
Name[ja]=Extension Manager
Name[nb]=Utvidelsesadministrering
Name[nl]=Uitbreidingsbeheer
Name[nn]=Utvidelsesadministrasjon
Name[oc]=Gestionari d’extensions
Name[pl]=Menedżer Rozszerzeń
Name[pt]=Gestor de Extensões
Name[pt_BR]=Gerenciador de Extensões
Name[ru_RU]=Менеджер расширений
Name[sv]=Tilläggshanterare
Name[ta]=நீட்டிப்பு மேலாளர்
Name[tr]=Uzantı Yöneticisi
Name[uk]=Extension Manager
Name[zh_CN]=扩展管理器
Name[zh_TW]=擴充套件管理員
Name=Extension Manager
Exec=extension-manager %U
Icon=com.mattjakeman.ExtensionManager
Terminal=false
Type=Application
Categories=GTK;Utility
StartupNotify=true
MimeType=x-scheme-handler/gnome-extensions;
